
body {
    font-family: 'Copperplate', fantasy;
    background-image: url("https://i.redd.it/uqzkan0zxo661.png");
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb703;
    padding: 20px;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
}

.question {
    margin: 20px 0;
    text-align: left;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    background-color: #023047;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ffb703;
}

#result img {
    width: 300px;
    margin-top: 20px;
}
